name: Code Quality Checks
on:
    pull_request: #trigger this on every pull request
     branches: [ main, develop]
jobs:
    code-quality:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v2
            
            - name: Set up node
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                
            - name: Install dependencies
              run: yarn install --frozen-lockfiles
         
            - name: ESLint Check
              run: yarn eslint
